.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    
}

#navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    /* padding: 0px px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;

}


#navbar-menu li {
    cursor: pointer;
    font-size: 23px;
    font-weight: 500;
    color: black;
    padding-bottom: 4px;
    position: relative;
}

.cart-container {
    position: relative; 
    display: inline-block;
}

.carticon {
    padding: 0px 20px;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: rgb(236, 5, 5);
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}
